//
// アクティビティのスタイル
//

.activity-cover {
    position: absolute;
    background-image: url("../images/cover/cover_activity.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 24rem;
    color: $white2;
    z-index: 0;
    @media (min-width: 769px) {
        height: 40rem;
    }
}

.activity-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 24rem;
    background: inherit;
    width: 100%;
    filter: blur(1.5px);
    z-index: -1;
    @media (min-width: 769px) {
        height: 40rem;
    }
}

.activity-cover-title {
    padding: 7rem 0 0 0;
    letter-spacing: -2px;
    transform: scale(0.9, 1);
    text-shadow: 4px 4px $black2;
    text-align: center;
    @media (min-width: 769px) {
        font-size: 8rem;
    }
}

.top-activity {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @media (min-width: 769px) {
        padding-left: 10rem;
        padding-right: 10rem;
        background-color: $white2;
    }
}

.activity-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    padding: 0 0 4rem 0;
  }

.activity-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 769px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 1rem;
    }
}

.activity-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media (min-width: 769px) {
        width: 100%;
    }
}

.activity-description1 {
    font-size: 1.6rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 0;
}

.activity-description2 {
    font-size: 1.6rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 0;
    @media (max-width: 768px) {
        display: none;
    }
}

.schdule-calendar {
    @media (max-width: 768px) {
        display: none;
    }
}

.schdule-list {
    @media (max-width: 768px) {
        margin: 0 auto;
    }
}