//
// アクティビティのスタイル
//

.activity-cover {
    position: absolute;
    background-image: url("../images/cover/cover_activity.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 24rem;
    color: $white2;
    z-index: 0;
    @media (min-width: 769px) {
        height: 40rem;
    }
}

.activity-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 24rem;
    background: inherit;
    width: 100%;
    filter: blur(1.5px);
    z-index: -1;
    @media (min-width: 769px) {
        height: 40rem;
    }
}

.activity-cover-title {
    padding: 7rem 0 0 0;
    letter-spacing: -2px;
    transform: scale(0.9, 1);
    text-shadow: 4px 4px $black2;
    text-align: center;
    @media (min-width: 769px) {
        font-size: 8rem;
    }
}

.top-activity {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @media (min-width: 769px) {
        padding-left: 10rem;
        padding-right: 10rem;
        background-color: $white2;
    }
}

.activity-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    padding: 0 0 4rem 0;
  }

.activity-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 769px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 1rem;
    }
}

.activity-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media (min-width: 769px) {
        width: 100%;
    }
}

.activity-description1 {
    font-size: 1.6rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 0;
}

.activity-description2 {
    font-size: 1.6rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 0;
    @media (max-width: 768px) {
        display: none;
    }
}

.schdule-calendar {
    @media (max-width: 768px) {
        display: none;
    }
}

.schdule-list {
    @media (max-width: 768px) {
        margin: 0 auto;
    }
}

/************************************
 リンクカードのスタイル
************************************/
.link-card{
    margin: 20px 0;
    max-width:100%;
    position: relative;
    clear:both;
    min-height:145px;
    min-width: 300px;
    box-sizing: border-box;
    padding:12px;
    padding-bottom: 6px;
    border:1px solid #ddd;
    word-wrap: break-word;
    border-radius: 5px;
}

.link-card:after{
    content: "";
    clear: both;
    display: block;
}

.link-card-thumbnail{
    float: left;
}

.link-card img.link-card-thumb-image{
    border:0;
    width: 178px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

.link-card-content{
    margin-left:180px;
    padding-left:2%;
    line-height:120%;
    margin-bottom: 0.5em;
}

.link-card-title{
    margin-bottom:15px;
    font-size: 2rem;
}

.link-card-title a{
    font-weight: bold;
    text-decoration: none;
    color: $black2;
}

.link-card-excerpt{
    color: #333;
    font-size: 0.8em;
    max-height: 60px;
    overflow: hidden;
}

.link-card-footer {
    position:relative;
    font-size: 0.7em;
    width: 100%;
    clear:both;
    vertical-align: bottom;
}

.link-card-footer a{
    color:#777;
    text-decoration:none;
    position:absolute;
    float:left;
}

.link-card-footer a:hover{
    color:#111;
}

.link-card-footer img{
    top:50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    vertical-align: -1em;
}

.link-card-hatebu{
    float: left;
    margin-right: 7px;
    position: relative;
    bottom: -5px;
}

.link-card-date{
    text-align: end;
    color: $gray;
    font-size: 1.2rem;
}

/* リンクカード（幅が狭い場合）*/
@media screen and (max-width: 560px){
    .article .link-card,
    .article .entry-content .hover-card{
        width: 100%;
    }

    .link-card-content{
        margin-left: 0;
    }

    .link-card-title a{
        font-size: 14px;
        line-height: 120%;
    }

    .link-card-excerpt,
    .link-card-footer{
        font-size: 11px;
        line-height: 120%;
    }

    #main .link-card,
    #main .hover-card{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    img.link-card-thumb-image{
        width: 80px;
        height: 80px;
    }

    .link-card-content {
        margin-left: 90px;
    }
}

/*リンクカードのラベル*/
.link-card-label{
    display: inline-block;
    position: absolute;
    background-color: $skyblue;
    top: -14px;
    left: -14px;
	z-index: 2;
    width: 70px;
    height: 25px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    line-height: 25px;
    transform-origin: 50% 50%;
    animation: animScale 3.5s ease-out;
}