//
// サイドバーのスタイル
//

.side-links {
    padding: 1rem 0 1rem 0;
    @media (max-width: 768px) {
        display: none;
    }
}

.links-heading {
    padding: 0 0 0 2rem;
    margin-right: auto;
}

.links-banner {
    width: 80%;
    margin: auto;
}

.side-title {
    margin: 0 0 1rem 0;
    font-weight: 700;
    font-size: 2rem;
}

.patch-list {
    list-style: none;
    padding: 0 0 0 2rem;
    li {
        margin: 0 0 0 0rem;
    }
}

.patch-notes {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.patch-series {
    width: 18%;
    align-items: start;
    height: 14rem;
    a {
        position: relative; /*アンダーラインの位置を決めるための基準 */
        color: $black1;
        font-size: 1.7rem;
    }
    a:hover {
        color: $skyblue;
    }
    a::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: $skyblue;
        bottom: -1px;               /*アンダーラインがaタグの下端から現れる*/
        transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
        transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
        transition: transform 0.3s; /*変形の時間*/
    }
    a:hover::after {
        transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
    }
}

.category-hr {
    width: 90%;
    @media (max-width: 768px) {
        display: none;
    }
}

.side-leader {
    list-style: none;
    padding: 1rem 0 1rem 2rem;
    @media (max-width: 768px) {
        display: none;
    }
}
